body{
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.8)),
      var(--black) url(https://source.unsplash.com/RF4p4rTM-2s/1280x720) no-repeat
        center fixed;
    background-size: cover;
}

:root {
    --dark-cyan: #02b1c8;
    --cyan: #00e1ff;
    --green: #7ffa67;
    --white: #fcfcfc;
    --black: #111;
    --darkest-grey: #151515;
    --dark-grey: #222;
    --grey: #333;
  }

#header-id{
    margin: auto;
    text-align: center;
    font-size:xx-large;
    font-family: "Schoolbell", cursive;
    line-height: 1;
    color: var(--dark-cyan);
    margin: 1.25rem 0 1.5625rem;
    text-shadow: 0.02em 0.02em 0.02em var(--green), -0.02em -0.02em 0.02em var(--green), 0 0 0.2em var(--green);
}

#p1Header{
    background-image: linear-gradient(90deg, rgba(87,75,205,1) 0%, rgba(41,153,173,1) 35%, rgba(65,233,117,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    
}

#footer{
    text-align: center;
    color: aliceblue;
    background-color: blueviolet;
}

.homepageSection{
    font-size: 20px;
    color: #8bcf21;
    text-align: left;
    font-family: "Press Start 2P",cursive;
    flex-basis: 40%;
    padding: 10px;
}

#character-details{
    color: blue;
    text-align: center;
    flex-basis: 60%;
}

#outerDiv{
    display: flex;
    justify-content: space-between;
}

.displayedDetailsChild{
    color: pink;
}

#displayedImage{
    border-radius: 20px;
    height: 400px;
    width: 50%;
}

#rickandmorty{
    font-family: "Schoolbell", cursive;
    font-size: calc(3rem + 2.7vw);
    line-height: 1;
    color: var(--dark-cyan);
    margin: 1.25rem 0 1.5625rem;
    text-shadow: 0.02em 0.02em 0.02em var(--green), -0.02em -0.02em 0.02em var(--green), 0 0 0.2em var(--green);
}


.characterName:hover{
    background-color: #00e1ff;
}

#sentence{
    color: brown;
}

.characterName{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    background-image: linear-gradient(
      to right,
      #54b3d6,
      #54b3d6 50%,
      white 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    /* display: inline-block; */
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}
  
.characterName:before {
    content: '';
    background: #54b3d6;
    /* display: block; 
    position: absolute;  */
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
.characterName:hover {
   background-position: 0;
  }
  
.characterName:hover::before {
    width:100%;
  }