/* adds the galaxy lookingimage to the background */
body{
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.8)),
      var(--black) url(https://source.unsplash.com/RF4p4rTM-2s/1280x720) no-repeat
        center fixed;
    background-size: cover;
}
:root {
    --dark-cyan: #02b1c8;
    --cyan: #00e1ff;
    --green: #7ffa67;
    --white: #fcfcfc;
    --black: #111;
    --darkest-grey: #151515;
    --dark-grey: #222;
    --grey: #333;
  }

  /* styles the header name */
#header-id{
    margin: auto;
    text-align: center;
    font-size:xx-large;
    font-family: "Schoolbell", cursive;
    line-height: 1;
    color: var(--dark-cyan);
    margin: 1.25rem 0 1.5625rem;
    text-shadow: 0.02em 0.02em 0.02em var(--green), -0.02em -0.02em 0.02em var(--green), 0 0 0.2em var(--green);
}

/* styles the text in the <p> in the header*/
#p1Header{
    background-image: linear-gradient(90deg, rgba(87,75,205,1) 0%, rgba(41,153,173,1) 35%, rgba(65,233,117,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;   
}

/* styles the outer Div */
#outerDiv{
    display: flex;
    justify-content: space-between;
}

#footer{
    text-align: center;
    color: aliceblue;
    background-color: blueviolet;
}

#favCharacter{
    font-size: 30px;
    color: #8bcf21;
    font-family: "Press Start 2P",cursive;
}

#character-details{
    color: blue;
    text-align: center;
    font-size: x-large;
    flex-basis: 60%;
    font-family: "Press Start 2P",cursive;
}

.displayedDetailsChild{
    color: pink;
    font-size: large;
    padding: 10px;
    text-align: left;
}

#displayedImage{
    border-radius: 20px;
    height: 50%;
    text-align: left;
    width: 50%;
}

#rickandmorty{
    font-family: "Schoolbell", cursive;
    font-size: calc(3rem + 2.7vw);
    line-height: 1;
    color: var(--dark-cyan);
    margin: 1.25rem 0 1.5625rem;
    text-shadow: 0.02em 0.02em 0.02em var(--green), -0.02em -0.02em 0.02em var(--green), 0 0 0.2em var(--green);
}

/* adding the hover feature to the character names */
.characterName{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: x-large;
    background-image: linear-gradient(
      to right,
      #54b3d6,
      #54b3d6 50%,
      white 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    padding: 5px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
};
  
.characterName:before {
    content: '';
    background: #54b3d6;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}
  
.characterName:hover {
   background-position: 0;
}
  
.characterName:hover::before {
    width:100%;
}

/* styling the addButton */
#addButton{
    text-align: center;
    font-family: 'montserrat';
    box-shadow:  0 0 10px var(--green), 
    0 0 25px var(--green) 0 0 50px var(--green),
    0 0 100px var(--green), 0 0 20px var(--green);
    font-weight: 500;
    background-color: #7ffa67;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
}
#addButton:hover{
    box-shadow: 0 0 10px var(--green), 
    0 0 25px var(--green);
}

/* styling the input */
.inputFormData{
    border: 2px solid var(--green);
    background-color: #111;
    color: white;
    border-radius: 30px;
    padding: 10px;
    o
}
